<div class="footer-background">
  <div class="container__max-width">
    <h1 class="title">CHIA SẺ BÀI TOÁN DOANH NGHIỆP CỦA BẠN ĐANG GẶP PHẢI</h1>
    <div fxLayout="row">
      <div fxFlex="50" class="img">
        <img src="assets/images/erp.png" />
      </div>
      <div fxFlex="50" class="info">
        <p>
          Sau quá trình áp dụng Base, hơn 5000 CEO/Manager đã chia sẻ với chúng
          tôi rằng: Base giúp họ dễ dàng ra quyết định tối ưu & vận hành doanh
          nghiệp dựa trên số liệu thực tế:
        </p>
        <ul>
          <li>
            Nhân sự nắm rõ được mục tiêu công việc & lộ trình thăng tiến của bản
            thân
          </li>
          <li>
            CEO nắm rõ quỹ lương & kiểm soát vấn đề sử dụng con người chặt chẽ
            hơn
          </li>
          <li>Bộ phận C&B cắt giảm 85% thời gian tính toán lương thủ công</li>
        </ul>

        <p>
          Có thể nói, Base HRM+ chính là thước đo công nghệ chính xác nhất giúp
          chủ doanh nghiệp tối ưu chi phí & phát triển nhân sự một cách dài hạn.
          Tạo tiền đề cho việc tăng trưởng
        </p>

        <div class="footer-button">
          <button mat-raised-button>Nhận tư vấn</button>
        </div>
      </div>
    </div>
  </div>
</div>
