.title-erp {
  margin: 50px 0 30px 0;
  color: #1c6db2;
  text-align: center;
  h1 {
    font-size: 40px;
    font-weight: bold;
  }
  p {
    font-size: 24px;
    font-weight: bold;
  }
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;

  .model-erp {
    background-image: url("../../assets/images/circle-erp.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    .item-erp--row {
      .block-item {
        align-items: center;
        border: 3px solid;
        border-radius: 30px;
        position: relative;
      }
      mat-icon {
        font-size: 60px;
        height: 60px;
        width: 60px;
        position: absolute;
        padding: 20px 15px;
        // border: 0px solid;
        border-radius: 30px;
        color: white;
        background-color: #fff;
        cursor: pointer;
        &:hover {
          -webkit-box-shadow: 2px 0px 10px 10px#fff;
          -moz-box-shadow: 2px 0px 10px 10px #fff;
          box-shadow: 2px 0px 10px 10px #fff;
        }
      }
      .description-item {
        width: 250px;
        height: max-content;

        .title {
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 8px;
          position: relative;
          &:after {
            content: "";
            display: block;
            height: 1px;
            background: #46ae39;
            width: 70px;
            border: 1px solid #90ce88;
            right: 0;
            bottom: -5px;
            position: absolute;
          }
        }
        .detail {
          font: 16px;
          margin-bottom: 0;
        }
      }

      .item-left {
        margin-right: 125px;
        display: flex;
        mat-icon {
          right: -10px;
        }
        .description-item {
          border-right: none;
          padding: 10px 30px 10px 20px;
          text-align: right;
          margin-right: 70px;
        }

        &.middle {
          margin-right: 150px;
        }
      }

      .item-right {
        margin-left: 125px;
        display: flex;
        mat-icon {
          left: -10px;
        }
        .description-item {
          border-left: none;
          text-align: left;
          padding: 10px 20px 10px 30px;
          margin-left: 70px;
        }
        &.middle {
          margin-left: 150px;
        }
        .title {
          &:after {
            right: unset;
            left: 0px;
          }
        }
      }
    }
  }
}
