<div class="title-erp">
  <h1>Giải pháp ERP - Quản lý toàn diện</h1>
  <p>
    Tinh giảm toàn bộ hoạt động kinh doanh của doanh nghiệp trong một hệ thống
  </p>
</div>

<!-- circle -->
<div class="background-img">
  <div class="slideshow-container">
    <div
      *ngIf="listDataERP.length !== 0"
      fxLayout="row wrap"
      class="model-erp container__max-width"
    >
      <div
        fxLayout="row"
        fxFlex="100"
        class="item-erp--row"
        fxLayoutAlign="center center"
      >
        <!-- Item1 -->
        <div
          class="block-item item-left"
          [ngStyle]="{ 'border-color': listDataERP[0].color }"
        >
          <mat-icon
            aria-hidden="false"
            [ngStyle]="{ 'background-color': listDataERP[0].color }"
            (click)="scrollToItem(listDataERP[0].id)"
            >{{ listDataERP[0].icon }}</mat-icon
          >
          <div class="description-item">
            <p class="title">{{ listDataERP[0].title }}</p>
            <p class="detail">
              {{ listDataERP[0].description }}
            </p>
          </div>
        </div>
        <div
          class="block-item item-right"
          [ngStyle]="{ 'border-color': listDataERP[1].color }"
        >
          <mat-icon
            aria-hidden="false"
            [ngStyle]="{ 'background-color': listDataERP[1].color }"
            (click)="scrollToItem(listDataERP[1].id)"
            >{{ listDataERP[1].icon }}</mat-icon
          >
          <div class="description-item">
            <p class="title">{{ listDataERP[1].title }}</p>
            <p class="detail">{{ listDataERP[1].description }}</p>
          </div>
        </div>
      </div>
      <div
        fxLayout="row"
        fxFlex="100"
        class="item-erp--row"
        fxLayoutAlign="center center"
      >
        <div
          class="block-item item-left middle"
          [ngStyle]="{ 'border-color': listDataERP[2].color }"
        >
          <mat-icon
            aria-hidden="false"
            [ngStyle]="{ 'background-color': listDataERP[2].color }"
            (click)="scrollToItem(listDataERP[2].id)"
            >{{ listDataERP[2].icon }}</mat-icon
          >
          <div class="description-item">
            <p class="title">{{ listDataERP[2].title }}</p>
            <p class="detail">{{ listDataERP[2].description }}</p>
          </div>
        </div>
        <div
          class="block-item item-right middle"
          [ngStyle]="{ 'border-color': listDataERP[3].color }"
        >
          <mat-icon
            aria-hidden="false"
            [ngStyle]="{ 'background-color': listDataERP[3].color }"
            (click)="scrollToItem(listDataERP[3].id)"
            >{{ listDataERP[3].icon }}</mat-icon
          >
          <div class="description-item">
            <p class="title">{{ listDataERP[3].title }}</p>
            <p class="detail">{{ listDataERP[3].description }}</p>
          </div>
        </div>
      </div>
      <div
        fxLayout="row"
        fxFlex="100"
        class="item-erp--row"
        fxLayoutAlign="center center"
      >
        <div
          class="block-item item-left"
          [ngStyle]="{ 'border-color': listDataERP[4].color }"
        >
          <mat-icon
            aria-hidden="false"
            [ngStyle]="{ 'background-color': listDataERP[4].color }"
            (click)="scrollToItem(listDataERP[4].id)"
            >{{ listDataERP[4].icon }}</mat-icon
          >
          <div class="description-item">
            <p class="title">{{ listDataERP[4].title }}</p>
            <p class="detail">{{ listDataERP[4].description }}</p>
          </div>
        </div>
        <div
          class="block-item item-right"
          [ngStyle]="{ 'border-color': listDataERP[5].color }"
        >
          <mat-icon
            aria-hidden="false"
            [ngStyle]="{ 'background-color': listDataERP[5].color }"
            (click)="scrollToItem(listDataERP[5].id)"
            >{{ listDataERP[5].icon }}</mat-icon
          >
          <div class="description-item">
            <p class="title">{{ listDataERP[5].title }}</p>
            <p class="detail">{{ listDataERP[5].description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End circle -->

<!-- start detail -->
<div class="block-detail--blue">
  <div
    class="item-detail container__max-width"
    *ngFor="let itemErp of listDataERP; let i = index"
    fxLayout="row"
  >
    <div
      [id]="itemErp.id"
      class="info-detail"
      fxFlex="50"
      [fxFlexOrder]="(i + 1) % 2"
    >
      <h1>{{ itemErp.title }}</h1>
      <ul>
        <li *ngFor="let info of itemErp.items">
          <div class="dot-li">
            <div class="dot-li--overlay"></div>
          </div>
          <h2>{{ info.title }}</h2>
          <p>
            {{ info.description }}
          </p>
        </li>
      </ul>
    </div>

    <div class="img-detail" fxFlex="50" [fxFlexOrder]="i % 2">
      <img [src]="itemErp.image" />
    </div>
  </div>
</div>

<!-- end detail -->
