ul,
li {
  list-style-type: none;
}

.main__container {
  position: relative;
  z-index: 1;
  margin-top: -90px;
}
.block__detail {
  display: flex;
  position: relative;
  .img-erp {
    position: relative;
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      background-position-x: initial;
      background-position-y: initial;
      background-size: initial;
      background-repeat-x: initial;
      background-repeat-y: initial;
      background-attachment: initial;
      background-origin: initial;
      background-clip: initial;
      background-color: initial;
      animation-name: img-erp--animation;
      animation-duration: 2s;
      background-color: #fff;
    }
  }

  .info-text {
    padding-top: 30px;
    width: 100%;
    // animation-name: info-text--animation;
    // animation-duration: 1s;
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      background-position-x: initial;
      background-position-y: initial;
      background-size: initial;
      background-repeat-x: initial;
      background-repeat-y: initial;
      background-attachment: initial;
      background-origin: initial;
      background-clip: initial;
      background-color: initial;
      height: 100%;
      animation-name: info-text--animation;
      animation-duration: 2s;

      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 1) 100%,
        rgba(255, 255, 255, 1) 100%
      );
    }
    .title {
      font-size: 30px;
    }
    .description {
      font-size: 16px;
    }
  }
}

@keyframes info-text--animation {
  from {
    width: 100%;
  }

  to {
    width: 0%;
  }
}

@keyframes img-erp--animation {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.description-text {
  padding-left: 15px;
  height: 100%;
}
