<ng-container *ngFor="let item of itemERP">
  <div
    class="detail-erp container__max-width item"
    [id]="'item-erp-' + item.id"
    *ngIf="itemSelected === item.id"
  >
    <div
      class="block__detail block__viettech"
      [attr.data-aos]="item.float ? item.float : 'fade-up'"
    >
      <div class="img-erp">
        <img src="assets/images/erp.png" alt="" />
      </div>
      <div class="info-text">
        <p class="title">{{ item.title }}</p>
        <p class="description">
          {{ item.description }}
        </p>

        <ng-template #recursiveList let-list>
          <li *ngFor="let item of list">
            <p
              class="description-title"
              [id]="item.id + '-description-title'"
              (click)="collapseDescription(item.id)"
            >
              {{ item.title }}
            </p>
            <div
              class="description-text"
              [id]="item.id + '-description'"
              *ngIf="item.description"
            >
              {{ item.description }}
            </div>
            <ul *ngIf="item.detail && item.detail.length > 0">
              <ng-container
                *ngTemplateOutlet="
                  recursiveList;
                  context: { $implicit: item.detail }
                "
              ></ng-container>
            </ul>
          </li>
        </ng-template>

        <ng-container
          *ngTemplateOutlet="recursiveList; context: { $implicit: item.detail }"
        ></ng-container>
      </div>
    </div>
  </div>
</ng-container>
