.block__icon-erp {
  width: max-content;
  margin: auto;
  display: flex;
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
  .icon-erp {
    cursor: pointer;
    width: 100px;
    height: 100px;
    margin: 0 10px;
    padding: 10px;
    border-radius: 15px;
    &:hover {
      -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
    }
    &.active {
      -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
    }
  }
}

ul,
li {
  list-style-type: none;
}

.main__container {
  position: relative;
  z-index: 1;
  margin-top: -90px;
}
.block__detail {
  display: flex;
  position: relative;
  .img-erp {
    position: relative;
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      background-position-x: initial;
      background-position-y: initial;
      background-size: initial;
      background-repeat-x: initial;
      background-repeat-y: initial;
      background-attachment: initial;
      background-origin: initial;
      background-clip: initial;
      background-color: initial;
      animation-name: img-erp--animation;
      animation-duration: 2s;
      background-color: #fff;
    }
  }

  .info-text {
    padding-top: 30px;
    width: 100%;
    // animation-name: info-text--animation;
    // animation-duration: 1s;
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      background-position-x: initial;
      background-position-y: initial;
      background-size: initial;
      background-repeat-x: initial;
      background-repeat-y: initial;
      background-attachment: initial;
      background-origin: initial;
      background-clip: initial;
      background-color: initial;
      height: 100%;
      animation-name: info-text--animation;
      animation-duration: 2s;

      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 1) 100%,
        rgba(255, 255, 255, 1) 100%
      );
    }
    .title {
      font-size: 30px;
    }
    .description {
      font-size: 16px;
    }
  }
}

@keyframes info-text--animation {
  from {
    width: 100%;
  }

  to {
    width: 0%;
  }
}

@keyframes img-erp--animation {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.description-title {
  display: block;
  background-color: #62c7f5;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  color: #033a56;
  &::after {
    content: "";
    right: 10px;
    position: absolute;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg%20aria-hidden%3D%22true%22%20focusable%3D%22false%22%20data-prefix%3D%22fas%22%20data-icon%3D%22angle-up%22%20class%3D%22svg-inline--fa%20fa-angle-up%20fa-w-10%22%20role%3D%22img%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20320%20512%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22M177%20159.7l136%20136c9.4%209.4%209.4%2024.6%200%2033.9l-22.6%2022.6c-9.4%209.4-24.6%209.4-33.9%200L160%20255.9l-96.4%2096.4c-9.4%209.4-24.6%209.4-33.9%200L7%20329.7c-9.4-9.4-9.4-24.6%200-33.9l136-136c9.4-9.5%2024.6-9.5%2034-.1z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
  }

  &.active-down {
    &::after {
      background-image: url("data:image/svg+xml,%3Csvg%20aria-hidden%3D%22true%22%20focusable%3D%22false%22%20data-prefix%3D%22fas%22%20data-icon%3D%22angle-down%22%20class%3D%22svg-inline--fa%20fa-angle-down%20fa-w-10%22%20role%3D%22img%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20320%20512%22%3E%3Cpath%20fill%3D%22currentColor%22%20d%3D%22M143%20352.3L7%20216.3c-9.4-9.4-9.4-24.6%200-33.9l22.6-22.6c9.4-9.4%2024.6-9.4%2033.9%200l96.4%2096.4%2096.4-96.4c9.4-9.4%2024.6-9.4%2033.9%200l22.6%2022.6c9.4%209.4%209.4%2024.6%200%2033.9l-136%20136c-9.2%209.4-24.4%209.4-33.8%200z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
    }
  }
}
.description-text {
  padding-left: 15px;
  height: 100%;
}
