.move-top {
  position: fixed;
  bottom: 50px;
  right: 20px;
  cursor: pointer;
  .mat-icon {
    height: 50px;
    width: 50px;
    font-size: 50px;
    border-radius: 10px;
    background-color: #fff;
    color: #0973ac;
    &:hover {
      box-shadow: 0px 0px 2px 2px #fff;
    }
  }
}
