<app-nav-bar> </app-nav-bar>
<div style="position: relative; padding-top: 80px">
  <app-banner-carousel></app-banner-carousel>
</div>
<div class="main__container container__max-width">
  <div class="block__icon-erp">
    <div>
      <img
        class="icon-erp"
        [class.active]="itemSelected === '1'"
        src="assets/images/icon-erp.png"
        alt=""
        (click)="selectItem('1')"
      />
    </div>
    <div>
      <img
        class="icon-erp"
        [class.active]="itemSelected === '2'"
        src="assets/images/icon-erp.png"
        alt=""
        (click)="selectItem('2')"
      />
    </div>
    <div>
      <img
        class="icon-erp"
        [class.active]="itemSelected === '3'"
        src="assets/images/icon-erp.png"
        alt=""
        (click)="selectItem('3')"
      />
    </div>
    <div>
      <img
        class="icon-erp"
        [class.active]="itemSelected === '4'"
        src="assets/images/icon-erp.png"
        alt=""
        (click)="selectItem('4')"
      />
    </div>
    <div>
      <img
        class="icon-erp"
        [class.active]="itemSelected === '5'"
        src="assets/images/icon-erp.png"
        alt=""
        (click)="selectItem('5')"
      />
    </div>
  </div>
</div>

<router-outlet></router-outlet>
