/* You can add global styles to this file, and also import other style files */

.container__max-width {
  max-width: 1280px;
  margin: auto;
}

body {
  margin: 0 !important;
}
/* 
    Navbar
*/

.nav-bar--scrolling {
  height: 45px !important;
  font-size: 16px !important;
}

.nav-bar-container {
  position: fixed;
  font-size: 18px;
  z-index: 10;
  height: 80px;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100vw;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
  .container__max-width {
    height: 100%;
    .block-item-erp {
      text-transform: uppercase;
      display: inline-flex;
      height: 100%;
      text-align: center;
      align-items: center;

      float: left;
      .item-erp {
        display: block;
        padding: 0 20px;

        font-weight: 500;
        cursor: pointer;
        color: #2672b4;
        &::after {
          content: "";
          display: block;
          width: 0%;
          height: 2px;
          background-color: tomato;
          -webkit-transition: 0.2s all;
          transition: 0.2s all;
        }
        &:hover {
          color: tomato;
          &::after {
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            background-color: tomato;
            -webkit-transition: 0.2s all;
            transition: 0.2s all;
          }
        }

        &.active {
          color: tomato;
          &::after {
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            background-color: tomato;
            -webkit-transition: 0.2s all;
            transition: 0.2s all;
          }
        }
      }
    }

    .block-logo {
      float: left;
      background-image: url("./assets/images/logo-viettech.png");
      width: 200px;
      height: 100%;
      background-repeat: no-repeat;
      margin: 0;
      padding: 0;
      background-position: center;
    }
  }
}

/*
    Container
*/


html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.tool-tip-custom{
  font-size: 14px;
  color: white;
  padding: 10px 30px;
  max-width:  500px !important;
}